<h1 class="content__title">Articles</h1>

<% if (articles && articles.length > 0) { %>
    <% articles.forEach((article) => { %>
        <div class="content__article">
            <div>
                <p><%= article.name.blog  %></p>
                <span>Blog by <b><%= article.name.first  %> <%= article.name.last  %></b> <%= timeAgo(article.published) %></span>
                <h2><a href="/reader/<%= article.article_id %>"><%= article.title %></a></h2>
            </div>
            <p class="content__content"><%= article.content %></p>
            <table class="">
                <thead>
                    <tr>
                        <th>Comments</th>
                        <th>Likes</th>
                        <th>Views</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= article.commentCount  %></td>
                        <td><%= article.likes %></td>
                        <td><%= article.views %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <% }); %>
<% } else { %>
    <h2>Nothing here :(</h2>
    <p>You can be the first.</p>
    <a class="registerbtn" href="/author/home-page" target="_self">Create an article?</a>
<% } %>