<h1> Author Home Page </h1>
<h2>Title Blog: <%= user.blog %></h2> 
<div class="content__author">
    <h3> Author Name: <b><%= user.first_name %> <%= user.last_name %></b></h3>
    <a href="/users/settings" target="_self"><h3><b>Setting &gt;</b></h3></a>
</div>
<h2>Drafts</h2>
<form action="/users/action" method="post">
    <table class="content__table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Created</th>
                <th>Last change</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach((article) => { %>
                <% if (article.status === 'draft') { %>
                    <tr class="highlight-on-hover">
                        <td><input type="checkbox" id="<%= article.article_id %>" name="<%= article.article_id %>"></td>
                        <td title="View the article"><label for="<%= article.article_id %>"><a href="/article/<%= article.article_id %>"><%= article.title %></a></label></td>
                        <td><%= article.created %></td>
                        <td><%= article.last_change %></td>
                        <td> <a href="/users/create/<%= article.article_id %>" target="_self">Edit</a></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>

    <a href="/users/create" target="_self" class="registerbtn">Create new draft</a>
    <br>
    <label for="action">Actions:</label>

    <select id="action" name="action">
        <option value="pub">Publish</option>
        <option value="del">Remove</option>
    </select>
    <button type="submit" class="registerbtn">Apply</button>
</form>

<h2>Published articles</h2>
<form action="/users/action" method="post">
    <table class="content__table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Created</th>
                <th>Published</th>
                <th>Last change</th>
                <th>Likes</th>
                <th>Views</th>
                <th>Share</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach((article) => { %>
                <% if (article.status === 'pub') { %>
                    <tr class="highlight-on-hover">
                        <td><input type="checkbox" id="<%= article.article_id %>" name="<%= article.article_id %>"></td>
                        <td title="View the article"><label for="<%= article.article_id %>"><a href="/article/<%= article.article_id %>"><%= article.title %></a></label></td>
                        <td><%= article.created %></td>
                        <td><%= article.published %></td>
                        <td><%= article.last_change %></td>
                        <td><%= article.likes %></td>
                        <td><%= article.views %></td>
                        <td><a href="javascript:void(0);" onclick="showPopup('/article/<%= article.article_id %>')">Copy</a></td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
    <button type="submit"  name="action" value="take_off" class="registerbtn">Remove from publication</button>
</form>

<h2>All articles</h2>
<form action="/users/action" method="post">
    <table class="content__table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Created</th>
                <th>Published</th>
                <th>Last change</th>
                <th>Removed from publication</th>
                <th>Likes</th>
                <th>Views</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach((article) => { %>
                <tr class="highlight-on-hover">
                    <td><input type="checkbox" id="<%= article.article_id %>" name="<%= article.article_id %>"></td>
                    <td title="View the article"><label for="<%= article.article_id %>">
                        <a href="/article/<%= article.article_id %>"><%= article.title %></a>
                    </label></td>
                    <td><%= article.created %></td>
                    <td><%= article.published %></td>
                    <td><%= article.last_change %></td>
                    <td><%= article.removed_from_publication_views %></td>
                    <td><%= article.likes %></td>
                    <td><%= article.views %></td>
                    <td> <a href="/users/create/<%= article.article_id %>" target="_self">Edit</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <label for="action">Actions:</label>

    <select id="action" name="action">
        <option value="pub">Publish</option>
        <option value="del">Remove</option>
    </select>
    <button type="submit" class="registerbtn">Apply</button>
</form>

<script>
    function showPopup(url) {
        alert("http://localhost:3000/article/" + url);
    }
</script>