<h1><%= article.title %></h1>
<p><%= article.content %></p>
<form action="/users/article/like/<%= article.article_id %>" method="get">
    <button type="submit" class="registerbtn">Like</button>
</form>
<hr>
<form action="/users/comment/<%= article.article_id %>" method="post">
    <h3>Comments</h3>
    <textarea class="content__textarea" name="comment" rows="2" minlength="1" placeholder="Your comment"></textarea>
    <button type="submit" class="registerbtn">Submit</button>
</form>
<hr>
<% comments.forEach(comment => { %>
    <div class="content__comments">
            <div class="comment">
                <span><b><%= comment.first_name %> <%= comment.last_name %></b></span>
                <p><%= comment.comment %></p>
            </div>
        </div>
<% }); %>
